body {
    background-color: rgb(235, 235, 235);
}

.lado1 {
    float: right;
    width: 300px;
    background: white;
}

.lado2 {
    float: right;
}

.topo {
    background-color: rgb(218, 165, 32);
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;
    height: 140px;
}

.imagem {
    width: 200px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    text-align: center;
}

.menu li {
    display: inline-block;
    margin-left: auto;
    padding-left: 25px;
    font-family: 'Raleway', Courier, monospace;
}

.menu a {
    text-decoration: none;
    color: white;
    padding: 5px;
    transition: 0.25s;
    border-radius: 2px;
    font-weight: bolder;
}

.menu a:hover {
    background-color: white;
    color: rgb(218, 165, 32);
}

.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
}

.post1 {
    background-color: white;
    padding: 20px;
    padding-top: 0px;
    width: 800px;
}

.post1 img {
    width: 800px;
}

.post1 h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(218, 165, 32);
    padding-top: 10px;
    margin-bottom: -5px;
}
